<div class="content">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Processos</h1>
        <div class="card">
          <form [formGroup]="searchProcessForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <legend>Pesquisa de Processos</legend>
              <div class="p-formgroup-inline">
                <div class="p-field">
                  <label
                    for="numero_processo"
                    class="p-sr-only">
                      Número do processo
                  </label>
                  <input 
                    id="numero_processo"
                    type="text"
                    formControlName="numero_processo"
                    class="form-control"
                    pInputText
                    placeholder="Número do processo"
                    length="10"
                    pattern="[0-9]{10}"
                  >
                  <button
                    pButton 
                    type="submit"
                    icon="pi pi-search"
                    iconPos="left"
                    [disabled="!searchProcessForm.valid"]
                    >
                  </button>
                  <!-- <div 
                    *ngIf="numero_processo.invalid && (numero_processo.dirty || numero_processo.touched)"
                    class="alert alert-danger">
                    <div 
                      *ngIf="numero_processo.errors.required">
                      Número do Processo é obrigatório
                    </div>
                    <div 
                      *ngIf="numero_processo.errors.length">
                      O número do processo deve ter 10 caracteres.
                    </div>
                  </div> -->
                </div>
                <div class="p-field">
                  <label 
                    for="nome_solicitante" 
                    class="p-sr-only">
                      Nome do solicitante
                    </label>
                  <input 
                    id="nome_solicitante"
                    type="text"
                    formControlName="nome_solicitante"
                    size="70"
                    maxlength="70"
                    pInputText
                    placeholder="Nome do solicitante"        
                  >
                  <button 
                    pButton
                    type="submit"
                    icon="pi pi-search"
                    iconPos="left">
                  </button>
                  <!-- <div 
                    *ngIf="nome_solicitante.invalid && (nome_solicitante.dirty || nome_solicitante.touched)" 
                    class="alert alert-danger">
                    <div 
                      *ngIf="nome_solicitante.errors.required">
                      Número do Processo é obrigatório
                    </div>
                    <div 
                      *ngIf="nome_solicitante.maxLength">
                      O nome deve ter no máximo 70 caracteres
                    </div>
                  </div> -->
                </div>  
              </div>
            </fieldset>
          </form>    
        </div>
      </div>
    </div>
    <!--<div class="ui-g">
      <div class="ui-g-12">
        <h2>Lista de Processo</h2>
      </div>
      <div class="ui-g-12">
        <p-toast></p-toast>
  
        <div class="card">
          <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
              <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
              <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
            </ng-template>
  
            <ng-template pTemplate="right">
              <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
              <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
            </ng-template>
          </p-toolbar>
  
          <p-table #dt [value]="processos" [rows]="10" [paginator]="true" [globalFilterFields]="['numero_processo','nome_solicitante','data_do_processo']"
              [(selection)]="selectedProcess" [rowHover]="true" dataKey="id"
              currentPageReportTemplate="Página {first} de {last} sendo {totalRecords} resultados encontrados." [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Gerenciamento de Processos</h5>
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="numero_processo">Processo<p-sortIcon field="numero_processo"></p-sortIcon></th>
                <th pSortableColumn="nome_solicitante">Nome do Solicitante<p-sortIcon field="nome_solicitante"></p-sortIcon></th>
                <th pSortableColumn="data_do_processo">Data do Processo<p-sortIcon field="data_do_processo"></p-sortIcon></th>
                <th>Anexo</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-processo>
              <tr>
                <td>
                  <p-tableCheckbox [value]="processo"></p-tableCheckbox>
                </td>
                <td>{{processo.numero_processo}}</td>
                <td>{{processo.nome_solicitante}}</td>
                <td>{{processo.data_do_processo}}</td>
                <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" /></td>
                <td>
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editarProcesso(processo)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletarProcesso(processo)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="p-d-flex p-ai-center p-jc-between">
                No total existem {{processos ? processos.length : 0 }} processos.
              </div>
            </ng-template>
          </p-table>
        </div>
  
        <p-dialog [(visible)]="processoDialog" [style]="{width: '450px'}" header="Detalhes do processo" [modal]="true" styleClass="p-fluid">
          <ng-template pTemplate="content">
            <div class="p-field">
              <label for="nome">Nome do Solicitante</label>
              <input id="nome" pInputText [(ngModel)]="product.solicitante.nome" pattern="[A-Za-z |  \t\r\n\v\f]{70}" autofocus />
              <small class="p-invalid" *ngIf="submitted && !processo.solicitante.nome">Nome do solicitante é obrigatório.</small>
            </div>
            <div class="p-field">
              <label for="data_do_processo">Data do Processo</label>
              <input pInputMask type="date" [(ngModel)]="processo.data_do_processo"  slotChar="mm/dd/yyyy" />
            </div>
            <div><h3>Endereço</h3></div>
            <div class="p-field">
              <label for="cep">CEP</label>
              <input pInputMask id="cep" mask="**.***-***" [(ngModel)]="processo.solicitante.cep" placeholder="CEP" slotChar="  .   -   " aria-required="cep" autofocus />
              <small class="p-invalid" *ngIf="submitted && !processo.solicitante.cep">CEP é obrigatório.</small>
            </div>
            <div class="p-field">
              <label for="rua">Rua</label>
              <input type="text" pInputText id="rua" [(ngModel)]="processo.solicitante.rua" />
            </div>
            <div class="p-field">
              <label for="numero">Número</label>
              <input type="text" pInputText id="numero" [(ngModel)]="processo.solicitante.numero" />
            </div>
            <div class="p-field">
              <label for="bairro">Bairro</label>
              <input type="text" pInputText id="bairro" [(ngModel)]="processo.solicitante.bairro" />
            </div>
            <div class="p-field">
              <label for="cidade">Cidade</label>
              <input type="text" pInputText id="cidade" [(ngModel)]="processo.solicitante.cidade" />
            </div>
            <div class="p-field">
              <label for="cidade">Anexo</label>
              <input type="file" pInputText id="cidade" [(ngModel)]="processo.solicitante.cidade" />
            </div>                    
          </ng-template>
          <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
          </ng-template>
        </p-dialog>
  
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> 
      </div>
    </div>-->
  </div>